.App {
  text-align: center;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


h2 {
  color: white;
}



.app-background {
  background: rgb(220,242,241);
  background: linear-gradient(0deg, rgba(220,242,241,0.5) 0%, rgba(127,199,217,0.5) 100%);
  min-height: 100vh
}

.loginMenu {
  border-radius: 25px;
  width: 40vh;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #0097b22c;
  box-shadow: 0 0 5px #00333b;
}

.loginMenu button {
  border-radius: 25px;
  margin-top: 20px;
  width: 125px;
  border: none;
  background-color: #0097B2;
  color: white;

}

.login {
  background-color: #0097B2;
  margin: 15px;
  max-width: 80%;
  color: white;
  border-radius: 25px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  }

.login p {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.login input {
  border: none;
  background-color: rgba(255, 255, 255, 0);
  color: white;
}

.login input::placeholder {
  color: white
}

.login input:focus {
  outline: none;
  background-color: rgba(255, 255, 255, 0);
}

.login {
  margin-left: auto;
  margin-right: auto;
}


.card button {
  border: none;
  background-color: rgba(255, 255, 255, 0);
  padding: 1px;

}

.displayBox {
  background-color: white;
}

ul {
  list-style: none;
}

.privateAppointments {
  border-bottom: 1px solid black;
  padding: 10px;
  margin-bottom: 10px;
}

.privateAppointments:hover {
  box-shadow: 0 0 5px #0097B2;
}

.startPrivateBtn {
  background-color: rgba(141, 253, 141, 0.76);
  color: darkgreen;
  border: none;
  font-size: larger;
  font-weight: 400;
  padding: 5px 12px;
  border-radius: 10px;
}

.startPrivateBtn:hover {
  background-color: rgb(86, 253, 86);
}


.dogInfoBtn {
  background-color: #c8edff;
  color: rgb(0, 60, 100);
  border: none;
  font-size: larger;
  font-weight:400;
  padding: 5px 12px;
  border-radius: 10px;
}

.dogInfoBtn:hover {
  background-color: #5ac8ff;
}

.appointmentTitle {
  font-size: larger;
  font-weight: 500;
}
.appointmentTitle:hover {
  color: blue;
}


.Dashboard {
  background-color: white;
  padding: 2vh 3vh;
  border-radius: 15px;
}


.loginBox{
  border-radius: 25px;
  width: 40vh;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #0097b22c;
  box-shadow: 0 0 5px #00333b;
}

.intakeForm{
  min-width: 100%;
  height: 100px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
  vertical-align: top;
  line-height: normal;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.347);
}

.formTitles {
  font-weight: 600;
  text-decoration: underline;
}

.formGroup {
  display: flex;
  flex-direction: column;
}
.LEASHLINK {
  text-align: center;
}

